
# 原始大模型备份（不上传 GitHub）
models/original/

# 原始大模型源文件（不上传，减小仓库）
42MY-V2.5.glb
models/original/

# 原始大模型源文件（不上传，减小仓库）
22RS套膜机.glb
models/22RS压机.glb
models/22RS旋转对折.glb
models/22RS卷包机.glb
models/22RS整线.glb
models/41RL压机.glb
models/41RL.glb
models/43RL.glb
models/流水线.glb
